@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Open+Sans:wght@300&display=swap');

body{
  
    border: 1px solid black;
    height: 130vh;
    background: url('./bg.png');
    background-size: 100% 100%;
    background-repeat: repeat;



}
main{
    height: auto;
    margin-top: 2em;
    background: rgba(0, 0,0, 0.9);
}
h1{
    
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Bigelow Rules';
    font-size: 72px;
    color: #0ccac4;
}
h2{
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Bigelow Rules';
    font-size: 72px;
    color: #0ccac4;
}
form{
   
    margin: auto;
    height: 80vh;
    width: 55%;
    text-align: center;
    
}
label{
    color: whitesmoke;
    font-family: 'Roboto Slab', serif;
    
    
    
}
#text{
    height: 4em;
    background-color: rgba(0, 0,0, 0.9);
    color: #0ccac4;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #0ccac4 ;
}
input{
    padding: 15px;
    color: #0ccac4;
    height: 40px;
    border-radius: 8px;
    margin-top: 10px;
    background: transparent;
    color: whitesmoke;
    border: 1px solid #0ccac4;
    
}
p{
    color: whitesmoke;
    border: 1px solid black;
    background: black;
    height: 30px;
}
button{
    background-color:#0ccac4 ;
    color: black;
    font-weight: 1000;
    font-size: larger;
    height: auto;
    border-radius: 8px;
    font-family: 'Roboto Slab', serif;
    padding: 20px;
    transform: scale(1);
    transition: transform 0.25s ease-out;
    margin: 10px;
}
button:hover{
    background-color: transparent;
    color: whitesmoke;
    transform: scale(1.05);
    border: 1px solid #0ccac4;
}
#submit{
    background-color: red;
    color: white;
    width: 100px;
    border: 1px solid red;
}
.sec-2{
    
}
.contain{
    margin-top: 10px;
    font-family: 'Roboto Slab', serif;
    background: rgba(0, 0,0, 0.9);
    height: 300px;
    text-align: center;
    padding: 10px;
    border: 1px solid white;
}


@media only screen and (min-width : 800px){
    main{
        margin-top: 0.2em;
        display: flex;
        flex-direction: row-reverse;
        height: 100%;
        
    }
    .sec-2{
        margin-top: 2em;
        width: 100%;
    }
    
    .sec-1{
        width: 100%;
    }
}